@{
    ViewData["Title"] = "User's list";
}


<div class="users_wrapper">
    <partial name="~/Views/Users/UsersHogan.cshtml" />
</div>

<div class="paginator-wrapper">
    <partial name="~/Views/partials/Pagination.cshtml" />
</div>

